body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
header{
    color: #b5b5b5;
    font-weight: bold;
    height: 30px;
}
header nav{
    padding-top: 1%;
}
header img{
    width: 25%;
}
header ul{
    margin-left: 35%;
    margin-top: 0.5%;
}
#abrir-franquia{
    margin-top: 40px;
}
#btn-apresentacao{
    border-radius: 10px;
    background-color: #29a6e6;
    color: #FFF;
}
#abrir-franquia{
    opacity: 0.8;
    z-index: 3001;
    background: url(../img/servidores.png) no-repeat;
    background-size: cover;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 5% 0;
    font-style: italic;
}
#abrir-franquia p{
    font-size: 4em;
}
#abrir-franquia p span{
    font-weight: lighter;
}
#quero-investir-1{
    border-radius: 10px;
    background-color: #228b22;
    color: #FFF;
    font-weight: bold;
    margin: 5% 0;
    text-transform: uppercase;
    font-size: 2em;
}
#vantagens{
    color: #000;
    margin: 2% 0;
    text-align: center;
}
#primeira-palavra{
    border-bottom: 2px solid #29a6e6;
    padding-bottom: 1%;
    margin-left: 10%;
    width: 83%;
}
#quero-investir-2{
    border-radius: 10px;
    background-color: #ffa500;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.5em;
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.7);
    -webkit-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
}
#investimento{
    background: url(../img/fundoInvestidores.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 3% 0;
}
#investimento h3{
    font-weight: bold;
    margin-bottom: 2%;
}
#investimentoTexto{
    margin-bottom: 2%;
}
#investimento .card{
    background-color: #29a6e6;
    color: #FFF;
}
.valores{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8em;
}
#quero-investir-3{
    border-radius: 10px;
    background-color: #d35400;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-top: 5%;
    box-shadow: 0 0 0 0 rgba(211, 84, 0, 0.7);
    -webkit-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
}
@keyframes pulse {to{box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);)}}
a:hover{
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}
.marcaNext{
    background-color: #011f2d;
    padding: 2.5% 0;
}
.marcaNext img{
    width: 20%;
}
#formulario{
    text-transform: uppercase;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    padding: 2% 0;

}
#formulario label{
	font-size: 14px;
}
#formulario input{
	padding: 3%;
	font-size: 14px;
}
#formulario input[type=text]:focus {
  border: 3px solid #1c86ee;
}
#formulario textarea:focus {
  border: 3px solid #1c86ee;
}
#formulario option{
    font-weight: lighter;
}
.titulo{
    text-align: center;
    font-weight: bold;
}
#btn-enviar{
    border-radius: 10px;
    background-color: #1c86ee;
    color: #FFF;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 28%;
}
footer{
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 1.5%;
}
.finalizando{
    padding-top: 50px;
}
.finalizando .row{
    margin-top: 5%;
}
.progress{
    height: 2.2em;
}
#money{
    font-weight: bold;
}
#quero-indicar{
    border-radius: 10px;
    background-color: #29a6e6;
    color: #FFF;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 rgba(41, 166, 230, 0.7);
    -webkit-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
}
#nao-indicar{
    font-size: 1.5em;
    border: 1px solid black;
    color: #333;
    margin-bottom: 5%;
}
#finalizar{
    font-size: 1em;
    border: 1px solid black;
    color: #333;
    margin-bottom: 5%;
}
#footer-indica,#footer-agradece{
    background-color: #1c86ee;
    color: #FFF;
    font-weight: bold;
}
#btnVoltar{
    font-size: 1em;
    border: 1px solid black;
    color: #333;
    margin: 5% 0;
}
.indicacao{
    display: none;
}
#simbolCheck{
    color: green;
}
.qtdAmigos{
    display: none;
}
thead tr td{
    font-weight: bold;
}
#cliqueWhatsapp{
    font-size: 2em;
    font-weight: bold;
    border-radius: 10px;
    background-color: #29a6e6;
    color: #FFF;
    padding: 1.5% 2%;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 rgba(41, 166, 230, 0.7);
    -webkit-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
    animation: pulse infinite 1.25s cubic-bezier(0.66, 0, 0, 1);
}
#whatsappIcon{
    color: #25D366;
}
@media screen and (max-width: 600px){
    #btn-enviar{
        margin-left: 30%;
    }
    #investimento .card{
        margin-bottom: 5%;
    }
    #quero-indicar {
        padding: 3%;
    }
    #logoIndica,#logoAgradecimento{
        width: 40%;
    }
    #logoIndex{
        width: 78%;
    }
    #abrir-franquia{
        margin-top: 7%;
    }
}
